<div>
    <ng-container *ngFor="let spell of paginateSpells">
        <ul>
            <li>
                <strong>Spell Name: </strong> {{spell.spell}}
            </li>
            <li>
                <strong>Spell Type: </strong> {{spell.type}}
            </li>
            <li>
                <strong>Spell Effect: </strong>{{spell.effect}}
            </li>
        </ul>
    </ng-container>

    <ng-container *ngIf="paginateSpells">
        <button (click)="prevPage()">Previous</button>
        <button (click)="nextPage()">Next</button>
    </ng-container>
</div>